
body{
    font-family: 'Raleway';
    font-weight:400;
}
.intro {
    background: url("")no-repeat center center;
    background-size: cover;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__ {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.top-nav-collapse {
    background-color: #fff !important; 
}
.navbar:not(.top-nav-collapse) {
    background: rgba(255, 255, 255, 0.4) !important;
}
#iconnav{
    color:#000 !important;;
}
#iconnav:hover{
    color:aqua !important;;
}
#iconftr{
    color:#000 !important;;
}
#iconftr:hover{
    color:#e62b1e !important;;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #fff !important;
    } 
    .navbar .dropdown-menu {
    position: relative !important;
    margin:0px; }    
    .navbar .dropdown-menu a {
      color: #e62b1e !important; }    
}

h6 {
    line-height: 1.7;
}
.bg-filter{
    background-color: #e2e2e2;
}

.navbar-collapse  ul{      
    justify-content: space-between;   
}
.navbar .dropdown-menu a:hover{
    color:red;
}

#about{
    padding-top: 55px;
}

.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(226, 93, 83,0.6)), to(rgba(229, 73, 61,0.8)));
    background: -o-linear-gradient(45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%);
    background: linear-gradient(to 45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%); 
}
.hm-gradient .full-bg-img-about {
	background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 19%, rgba(54,54,54,1) 99%, rgba(54,54,54,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(54,54,54,1)), color-stop(1%, rgba(54,54,54,1)), color-stop(81%, rgba(255,255,255,1)), color-stop(99%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 19%, rgba(54,54,54,1) 99%, rgba(54,54,54,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 19%, rgba(54,54,54,1) 99%, rgba(54,54,54,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 19%, rgba(54,54,54,1) 99%, rgba(54,54,54,1) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 19%, rgba(54,54,54,1) 99%, rgba(54,54,54,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#ffffff',GradientType=0 ); /* ie6-9 */
}

@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
@media (max-width: 768px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 100%; 
    } 
}
  @media screen and (min-width: 0px) and (max-width: 767px) {/* show it on small screens */
  .desktop-only { display: none; }   
	}  

  @media screen and (min-width: 768px){/* show it on big screens */   
 .mobile-only { display: none; }  
}



.menu--adsila .menu__item-name,.menu--adsila .menu__item-namea {	
	padding-left: 0.35em;
    position: relative;

}

.menu--adsila .menu__item-name::before,.menu--adsila .menu__item-namea::before {
	content: '';
	position: absolute;	
	bottom: 0;
	left: 0;
	width: 90%;
	height: 32%;
	opacity: 0;

}

.menu--adsila .menu__item .menu__item-name::before {
	background: aqua;
}
.menu--adsila .menu__item .menu__item-namea::before {
	background: #ff0000;
}

/* Hover */
.menu--adsila .menu__item:hover .menu__item-name::before,
.menu--adsila .menu__item:focus .menu__item-name::before,
.menu--adsila .menu__item:hover .menu__item-namea::before,
.menu--adsila .menu__item:focus .menu__item-namea::before{
    
	transform-origin: 0% 50%;
	transition: transform 0.5s;	
    	-webkit-animation: highlighthvr 5s;
	animation: highlighthvr 5s;
	-webkit-animation-delay: 0s;
    opacity:0.6;
	
}

@media screen and (max-width: 50em) {
	.menu--adsila .menu__item {
		margin: 0.25em 0 0.25em;
	}
}

@-webkit-keyframes highlighthvr {
	0% {
		opacity:0.6;
		transform: scale3d(0,1,1);
	}
	50% {
		opacity:0.6;
		transform: scale3d(1,1,1);
	}

}
@keyframes highlighthvr {
	0% {
		opacity:0.6;
		transform: scale3d(0,1,1);
	}
	50% {
		opacity:0.6;
		transform: scale3d(1,1,1);
	}

}

.highlighttext .highlighter-name,.highlighttext .highlighter-namea {
	padding: 0 0.35em;
    position: relative;
}

.highlighttext .highlighter-name::before,.highlighttext .highlighter-namea::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 85%;
	height: 32%;
	opacity: 0.6;
	-webkit-animation: highlight 5s infinite;
	animation: highlight 5s infinite;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	transform-origin: 0% 50%;
	transition: transform 0.5s;
}
.highlighttext .highlighter .highlighter-name::before {
	background: aqua;
	opacity:0.6;

}

.highlighttext .highlighter .highlighter-namea::before {
	background: #ff0000;
	opacity:0.6;

}


@-webkit-keyframes highlight {
	0% {
		opacity:0.6;

		transform: scale3d(0,1,1);
	}
	50% {
		opacity:0.6;

		transform: scale3d(1,1,1);
	}

}
@keyframes highlight {
	0% {
		opacity:0.6;

		transform: scale3d(0,1,1);
	}
	50% {
		opacity:0.6;

		transform: scale3d(1,1,1);
	}

}

/*hamburger*/
 #nav-icon3 {

  width: 30px;
  height: 30px;
  position: relative;
  margin-right:10px;
     margin-top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
    background: #e62b1e;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
    background: #e62b1e;
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


.main-login{
    background-color: #e2e2e2;
    padding: 25px 25px 25px;
}

.overlayteam {
  position: absolute;
  bottom: 0;
    padding-left:10px;
    text-align:left;
  background-color: rgba(255, 0, 0,0.6);   
  height:12%;
    padding-top:4px;
    width:100%;
  transition: .5s ease;
    	
}

.overlayteama {
  background-color: rgba(0, 255, 255,0.6);   
	bottom: 0;
	top:0;
	left:0;
	right:0;
  width:100%;
  height:100%;

    	
}

.faded {
   opacity: 1;
    background: -moz-linear-gradient(45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(226, 93, 83,0.6)), to(rgba(229, 73, 61,0.8)));
    background: -o-linear-gradient(45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%);
    background: linear-gradient(to 45deg, rgba(226, 93, 83,0.6), rgba(229, 73, 61,0.8) 100%);
   }

   .faded:hover {
      opacity: 0.7;
	  background:red;
      }
	  
.teamoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.teamcontainer:hover .teamoverlay {
  opacity: 1;
}

#containerp {
  margin: 0 auto;
  width:100%;
    height:100%;
  position: absolute; }
