
body{
    font-family: 'Raleway';
    font-weight:400;
}
.intro {
    background: url("")no-repeat center center;
    background-size: cover;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-nav-collapse {
    background-color: #fff !important; 
}
.navbar:not(.top-nav-collapse) {
    background: rgba(255, 255, 255, 0.4) !important;
}
#iconnav{
    color:#000 !important;;
}
#iconnav:hover{
    color:aqua !important;;
}
#iconftr{
    color:#fff !important;;
}
#iconftr:hover{
    color:#e62b1e !important;;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #fff !important;
    } 
    .navbar .dropdown-menu {
    position: relative !important;
    margin:0px; }    
    .navbar .dropdown-menu a {
      color: #e62b1e !important; }    
}

h6 {
    line-height: 1.7;
}
.bg-filter{
    background-color: #e2e2e2;
}

.navbar-collapse  ul{      
    justify-content: space-between;   
}
.navbar .dropdown-menu a:hover{
    color:red;
}

#about{
    padding-top: 55px;
}

.hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgba(3, 270, 270,0.6), rgba(0, 255, 255,0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(3, 270, 270,0.6), rgba(0, 255, 255,0.8) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(3, 270, 270,0.6)), to(rgba(0, 255, 255,0.8)));
    background: -o-linear-gradient(45deg, rgba(3, 270, 270,0.6), rgba(0, 255, 255,0.8) 100%);
    background: linear-gradient(to 45deg, rgba(3, 270, 270,0.6), rgba(0, 255, 255,0.8) 100%); 
}

@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
@media (max-width: 768px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 100%; 
    } 
}
  @media screen and (min-width: 0px) and (max-width: 767px) {/* show it on small screens */
  .desktop-only { display: none; }   
	}  

  @media screen and (min-width: 768px){/* show it on big screens */   
 .mobile-only { display: none; }  
}



.menu--adsila .menu__item-name {	
	padding-left: 0.35em;


}

.menu--adsila .menu__item-name::before {
	content: '';
	position: absolute;	
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	opacity: 0.3;
	transform: scale3d(0,1,1);
	transform-origin: 0% 50%;
	transition: transform 0.5s;	
}

.menu--adsila .menu__item .menu__item-name::before {
	background: aqua;
}

/* Hover */
.menu--adsila .menu__item:hover .menu__item-name::before,
.menu--adsila .menu__item:focus .menu__item-name::before {
	transform: scale3d(1,1,1);
}

@media screen and (max-width: 50em) {
	.menu--adsila .menu__item {
		margin: 0.25em 0 0.25em;
	}
}

.highlighttext .highlighter-name {
	padding: 0 0.35em;
    position: relative;
}

.highlighttext .highlighter-name::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 32%;
	opacity: 0.3;
	-webkit-animation: highlight 5s infinite;
	animation: highlight 5s infinite;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	transform-origin: 0% 50%;
	transition: transform 0.5s;
}
.highlighttext .highlighter .highlighter-name::before {
	background: aqua;
	opacity:0.3;

}
@media screen and (max-width: 50em) {
	.highlighttext .highlighter {
		margin: 0 0 2em;
	}
}

@-webkit-keyframes highlight {
	0% {
		opacity:0.3;
		margin: 0px;
		padding: 0px;
		transform: scale3d(0,1,1);
	}
	50% {
		opacity:0.3;
		margin: -2px;
		padding: 2px;
		transform: scale3d(1,1,1);
	}

}
@keyframes highlight {
	0% {
		opacity:0.3;
		margin: 0px;
		padding: 0px;
		transform: scale3d(0,1,1);
	}
	50% {
		opacity:0.3;
		margin: -2px;
		padding: 2px;
		transform: scale3d(1,1,1);
	}

}

/*hamburger*/
 #nav-icon3 {

  width: 30px;
  height: 30px;
  position: relative;
  margin-right:10px;
     margin-top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
    background: #e62b1e;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
    background: #e62b1e;
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#filtermap{
    background: rgba(123, 255, 255, 0.5);
    z-index:0;
    
}

@media only screen and (min-width: 768px) {
.D,.D1{
    padding-bottom:15px;
    padding-top:15px;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
 .D{
    padding-top:15px;
} 
}

@media screen and (min-width: 0px) and (max-width: 767px) {
 .D1{
    padding-top:30px;
} 
}

@media only screen and (min-width: 768px) {
.d1{
   width: 150px;
    height: 150px;
    padding-top: 45px;
    padding-left: 25px;
    background-color: #ffffff;
    font-weight:600;
    box-sizing: border-box;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .d1{
   width: 150px;
    height: 150px;
    padding-top: 42px;
    padding-left: 20px;
    background-color: #ffffff;
    font-weight:500;
    font-size: 45px;
    box-sizing: border-box;
}
  }

@media only screen and (min-width: 768px) {
.d2{
   width: 150px;
    height: 150px;
    padding-top: 47px;
    padding-left: 40px;
    background-color: #ffffff;
    font-weight:600;
    box-sizing: border-box;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .d2{
   width: 150px;
    height: 150px;
    padding-top: 42px;
    padding-left: 35px;
    background-color: #ffffff;
    font-weight:500;
    font-size: 45px;
    box-sizing: border-box;
}
  }

@media only screen and (min-width: 768px) {
.d3{
   width: 150px;
    height: 150px;
    padding-top: 45px;
    padding-left: 62px;
    background-color: #ffffff;
    font-weight:600;
    box-sizing: border-box;
}
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .d3{
   width: 150px;
    height: 150px;
    padding-top: 40px;
    padding-left: 60px;
    background-color: #ffffff;
    font-weight:500;
    font-size: 45px;
    box-sizing: border-box;
}
  }

.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 .button1{
  display:block;
  margin:0.4em auto;
 }
}


.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}
.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    height: auto;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
 .abouttext{
  padding-top: 40px;
  padding-bottom: 30px;
 }
}

 @media screen and (min-width: 0px) and (max-width: 767px) {
  .abouttextmob{
    padding-top: 25px;
  }
  }  

@media only screen and (min-width: 768px) {
 .btn-padding{
  padding-top:390px;
 }
}

 @media screen and (min-width: 0px) and (max-width: 767px) {
  .statistics{
    padding-left: 95px;
  }
  }  

@media only screen and (min-width: 768px) {
.aa{
   padding-left: 250px;
   position: relative;
}
}

@media only screen and (min-width: 768px) {
.b{
   padding-left: 280px;
   position: relative;
}
}

@media only screen and (min-width: 768px) {
.c{
   padding-left: 300px;
   position: relative;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .img-mobile{
     width: 140px; 
  }
  }  
@media only screen and (min-width: 768px) {
.desk{
   padding-bottom:15px;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .mobile-view-speakers{
     width: 350px;
     padding-left: 45px;
  }
  } 
